<div class="container ecns-post-card" >
  <div class="row">
    <div class="col">
      <img src="{{feature_image}}" class="img-responsive post-card-img" /> 
    </div>
    <div class="col">
      <h1 class="post-card-title">
        {{title}}
      </h1>
     </div>
  </div>
    <div class="row excerpt">
      <div class="col">
        {{excerpt words="33"}} 
      </div>
    </div>
      
    </div>
   </div>


</div>
