.container.ecns-post-card{
  max-width:75%;
  margin: 0 auto;
  padding: 40px 10px;

}

.post-card-img{
  min-width:250px;
  height:auto;
  border: 1px solid black;

}

.post-card-title{
  font-size: 50px;  


}

.excerpt{
  font-size: 30px;
}

.site-logo{

  width: 400px;
  height: 200px;
}

.site-description{
  font-size:30px;
  background: blue;

}
